{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <h1>Tarea 3</h1>
  </div>


</div>
<h1> Search </h1>
<body>
    <p>You searched: {{searched}}</p>

<h1> Results </h1>
    <table>
        <tr>
            <th>Films</th>
        </tr>
        <ul>
        {% for j in films %}
            <tr>
                <td><a href="/film/?info={{ j }}"> {{j.title}}</a></td>
            </tr>
        {% endfor %}
        </ul>
    </table>
    <table>
        <tr>
            <th>Characters</th>
        </tr>
        <ul>
        {% for k in characters %}
            <tr>
                <td><a href="/characters/?info={{ k }}"> {{k.name}}</a></td>
            </tr>
        {% endfor %}
        </ul>
    </table>
    <table>
        <tr>
            <th>Starships</th>
        </tr>
        <ul>
        {% for i in starships %}
            <tr>
                <td><a href="/starships/?info={{ i }}"> {{i.name}}</a></td>
            </tr>
        {% endfor %}
        </ul>
    </table>
    <table>
        <tr>
            <th>Planets</th>
        </tr>
        <ul>
        {% for l in starships %}
            <tr>
                <td><a href="/starships/?info={{ l }}"> {{l.name}}</a></td>
            </tr>
        {% endfor %}
        </ul>
    </table>

</body>

{% endblock %}
